
{{!-- CHECKS TO SEE IF USER IS LOGGED IN(WOULD BE UNDEFINED IF NOT) --}}
{{#if userData.id}}
    <button class="fav-btn">Add Favorite</button>
{{else}}
   <h2>Not signed in</h2>
{{/if}}


<div class="container">
    <img class="plant-img" src={{plantData.img}}>
    <h1 class="plant-name">{{plantData.commonName}}</h1>
    <p>{{plantData.longDesc}}</p>
    <div class="text-right plant-toggle">
        <span id="profile">Profile   </span>|<span id="care">  Care Instructions</span>
    </div>
    <div class="container" id="plant-profile">
        <div class="row">
            <div class="col-6">
                <p>Scientific Name</p>
                <p>Poisonous to Humans?</p>
                <p>Poisonous to Animals?</p>
            </div>
            <div class="col-6">
                <p>{{plantData.scienName}}</p>
                <p>{{plantData.poisHuman}}</p>
                <p>{{plantData.poisAnimal}}</p>
            </div>
        </div>
    </div>
        <div class="container" id="plant-care">
        <div class="row">
            <div class="col-6">
                <p>General Care Instructions</p>
                <p>Food</p>
                <p>Min. Temp</p>
            </div>
            <div class="col-6">
                <p>{{plantData.genCare}}</p>
                <p>{{plantData.food}}</p>
                <p>{{plantData.minTemp}}</p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

$(document).ready(function() {

    $(".fav-btn").on("click", function (event) {
        event.preventDefault();

        console.log(
            "Userid: " + {{userData.id}} +
            "\nplantId: " + {{plantData.plantId}} +
            "\ncommonName: " + "{{plantData.commonName}}"
        );

        var favorite = {
            Userid: {{userData.id}},
            plantId: {{plantData.plantId}},
            commonName: "{{plantData.commonName}}"
        };

        $.post("/api/add-favorite", favorite)
        .then(function(response){
            console.log(response)
        });
            
    });

});

</script>