{{!-- logo top left corner --}}
{{!-- <img src="..." alt="Terra Mater Logo"> --}}

{{!-- insert signout button in top right corner --}}
{{!-- insert search bar in top middle --}}
{{!-- insert search button for new query --}}
{{!-- insert get all button for all search results --}}
{{!-- insert sort functionality asc --}}
{{!-- insert sort functionality desc --}}

<h1>Terra Mater</h1>
<h2>Search Page</h2>


<button href="/api/plants/search">Search</button>
<button href="/api/plant-short">Plant Directory</button>

{{#each Plants}}
<a href="/api/plant/{{plantId}}"><ul class="search-result">
    <li class="search-image" data-plantId={{plantId}}><img src={{img}} alt="plant image" height="200" width="200"></li>
    <a href=""><li class="search-name">Name: {{commonName}}</li></a>
    <li class="search-desc">{{shortDesc}}</li>
</ul></a>
{{/each}}


<p>All information obtained on this website is meant for educational purposes. You assume full risk by using our site.</p>