<div class="container">
    {{!-- logo and sign in / out--}}
    <div class="row">
        <div class="col-lg-6 text-left">
            <img class="terra-mater-logo" src="/assets/images/tm-logo.png" alt="Terra Mater Logo">
        </div>
        <div class="col-lg-6 text-right">
            <button type="button" class="btn btn-secondary my-5"><a href="/user-profile">Profile</a></button>
            <button type="button" class="btn btn-info my-5 mr-3"><a href="/login">Login</a></button>
            <button type="button" class="btn btn-secondary my-5"><a href="/register">Register</a></button>
            <button type="button" class="btn btn-secondary my-5"><a href="/logout">Logout</a></button>
        </div>
    </div>
</div>

<div class="container">
    <img class="plant-img" src={{img}}>
    <h1 class="plant-name">{{commonName}}</h1>
    <p>{{longDesc}}</p>
    <div class="text-right plant-toggle">
        <span id="profile">Profile   </span>|<span id="care">  Care Instructions</span>
    </div>
    <div class="container" id="plant-profile">
        <div class="row">
            <div class="col-6">
                <p>Scientific Name</p>
                <p>Poisonous to Humans?</p>
                <p>Poisonous to Animals?</p>
            </div>
            <div class="col-6">
                <p>{{scienName}}</p>
                <p>{{poisHuman}}</p>
                <p>{{poisAnimal}}</p>
            </div>
        </div>
    </div>
        <div class="container" id="plant-care">
        <div class="row">
            <div class="col-6">
                <p>General Care Instructions</p>
                <p>Food</p>
                <p>Min. Temp</p>
            </div>
            <div class="col-6">
                <p>{{genCare}}</p>
                <p>{{food}}</p>
                <p>{{minTemp}}</p>
            </div>
        </div>
    </div>
</div>