<div class="container">
    <div class="row header">
        {{!-- logo and sign in / out--}}
        {{#if loggedIn}}
        <div class="col-5 text-left">
            <img class="terra-mater-logo" src="/assets/images/tm-logo.png" alt="Terra Mater Logo">
        </div>
        {{/if}}

        {{!-- buttons --}}
        {{#if loggedIn}}
        <div class="col-7 text-right">
            <a class="btn btn-success" role="button" href="/user-profile">Profile</a>
            <a class="btn btn-danger" role="button" href="/logout">Logout</a>
        </div>
        {{else}}
        <div class="col-12 text-right">
            <a class="btn btn-info" role="button" href="/login">Login</a>
        </div>
        {{/if}}

        {{!-- logo --}}

        {{#if loggedIn}}
        {{else}}
        <div class="col-12">
            <img class="terra-mater-logo-wide mt-3" src="/assets/images/tm-logo-wide.png" alt="Terra Mater Wide Logo">
        </div>
        {{/if}}
    </div>
</div>

<div class="container plant-container">
    <img class="plant-img" src={{data.img}}>
    <h3 class="plant-name">
        {{data.commonName}}
        {{#if loggedIn}}
        <span class="fav-btn"><i class="fas fa-xs fa-heart fav-btn" style="color: red; cursor: pointer"
                title="Add to Favorites"></i></span>
        {{/if}}
    </h3>
    <p>{{data.longDesc}}</p>
    <div class="row plant-toggle">
        <div class="col-12 text-center">
            <button id="profile" class="btn btn-light">Profile</button>
            <button id="care" class="btn btn-light inactive">Care Instructions</button>
        </div>
    </div>
    <div class="container" id="profile-container">
        <div class="row">
            <div class="col-6 text-right">
                <p>Scientific Name</p>
                <p>Poisonous to Humans?</p>
                <p>Poisonous to Animals?</p>
            </div>
            <div class="col-6 details">
                <p>{{data.scienName}}</p>
                <p>{{data.poisHuman}}</p>
                <p>{{data.poisAnimal}}</p>
            </div>
        </div>
    </div>
    <div class="container" id="care-container">
        <div class="row">
            <div class="col-6">
                <p>General Care Instructions</p>
                <p>Food</p>
                <p>Min. Temp</p>
            </div>
            <div class="col-6">
                <p>{{data.genCare}}</p>
                <p>{{data.food}}</p>
                <p>{{data.minTemp}}</p>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        console.log("hello");

        $("#profile").on("click", function () {
            console.log("click")
            $("#profile-container").show().animate({
                "opacity": "1"
            });
            $("#care-container").hide().animate({
                "opacity": "0"
            });
            $("#profile").removeClass("inactive");
            $("#care").addClass("inactive");
        });

        $("#care").on("click", function () {
            console.log("click")
            $("#care-container").show().animate({
                "opacity": "1"
            });
            $("#profile-container").hide().animate({
                "opacity": "0"
            });
            $("#care").removeClass("inactive");
            $("#profile").addClass("inactive");
        });

        $(".terra-mater-logo").on("click", function () {
            window.location.href = "/";
        });

        $(".fav-btn").on("click", function () {

            var favorite = {
                userId: {{user.id}},
                plantId: {{data.plantId}},
                commonName: "{{data.commonName}}"
            };

            $.post("/api/add-favorite", favorite).then(function (response) {
                console.log(response)
            });
        });

        $(".terra-mater-logo-wide").on("click", function() {
            window.location.href = "/";
        });

        $(".terra-mater-logo").on("click", function() {
            window.location.href = "/";
        });
    });
</script>