{{!-- <p><a href="/logout">Logout</a></p> --}}

<div class="container">
    {{!-- logo and sign in / out--}}
    <div class="row">
        <div class="col-lg-6 text-left">
            <img class="terra-mater-logo" src="/assets/images/tm-logo.png" alt="Terra Mater Logo">
        </div>
        <div class="col-lg-6 text-right">
            <a class="btn btn-secondary my-5" role="button" href="/">Search</a>
            <a class="btn btn-secondary my-5" role="button" href="/logout">Logout</a>
        </div>
    </div>

    {{!-- welcome message --}}
    <div class="row my-5">
        <div class="col-lg-12 text-center">
            <h3>Welcome, {{user.firstName}}.</h3>
        </div>
    </div>

    <div class="row">
        <div class="container">
            <div class="row">
                {{#if user.profilePicture}}
                {{else}}
                <img class="profile-picture" src="/assets/images/generic.png">
                {{/if}}
            </div>
            <div class="row">
                <div class="col-6 text-right">First Name:</div>
                <div class="col-6">{{user.firstName}}</div>
            </div>
            <div class="row">
                <div class="col-6 text-right">Last Name:</div>
                <div class="col-6">{{user.lastName}}</div>
            </div>
            <div class="row">
                <div class="col-6 text-right">Email:</div>
                <div class="col-6">{{user.email}}</div>
            </div>
        </div>
    </div>
    <h3>My Favorites</h3>
    {{#if fav}}
    {{#each fav}}
    <div class="row">
        <div class="col-6">
            {{commonName}}
            <span class="fav-item" data-plantId="{{plantId}}">
                <i class="fas fa-info-circle" title="Plant Profile" style="cursor: pointer"></i>
            </span>
        </div>
    </div>
    {{/each}}
    {{else}}
    <h5>No favorites</h5>
    {{/if}}

    {{!-- Add Photo Upload Form --}}
    {{!-- <div class="mt-3 row justify-content-center">
                <div class="col-auto custom-file">
                    <input type="file" class="custom-file-input" id="photo-upload">
                    <label class="custom-file-label" for="photo-upload">Choose photo</label>
                </div>
            </div> --}}

    {{!-- search row --}}
    {{!-- <div class="row">
        <div class="offset-lg-3 col-lg-6">
            <form>
                <div class="form-group">
                   <label for="plantSearch">Search</label>
                    <input type="text" class="form-control" id="plantSearch" aria-describedby="search by plant"
                        placeholder="Look for a plant...">
                    buttons row for form
                    <div class="row my-3">
                        <div class="col-lg-6 text-left">
                            <button id="plant-search" type="submit" class="btn btn-info">Search</button>
                        </div>
                        <div class="col-lg-6 text-right">
                            <button id="all-plants-btn" type="submit" class="btn btn-warning">All Plants</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div> --}}

    <script>
        $(document).ready(function () {

            bsCustomFileInput.init()

            {{!-- Redirect user to searched plant results --}}
            $("#plant-search").on("click", function (event) {
                event.preventDefault();

                var searchTerm = $("#plantSearch").val().trim();

                if (searchTerm) {
                    window.location.href = "/plants/search/" + searchTerm;
                } else {
                    alert("Please enter a search term");
                }
            });

            {{!-- Redirect user to all plants page --}}
            $("#all-plants-btn").on("click", function (event) {
                event.preventDefault();
                window.location.href = "/api/plant-short";
            });

            {{!-- Redirect user to homepage --}}
            $(".terra-mater-logo").on("click", function () {
                window.location.href = "/";
            });

            {{!-- Redirect user to plant profile --}}
            $(".fav-item").on("click", function (event) {
                event.preventDefault();

                var plantId = $(this).data("plantid")
                console.log("plant Id: ",plantId)
                
                window.location.href = "/plant/"+plantId;
            });

        });
    </script>